[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-haeretahiti
Exec=harbour-haeretahiti
Name=Haere Tahiti
#Name[fr]=harbour-haeretahiti

[X-Sailjail]
Permissions=Internet
OrganizationName=org.blogreen
ApplicationName=HaereTahiti
